{% extends "base.html" %}

{% block content %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%,
                    hsl(218, 41%, 35%) 15%,
                    hsl(218, 41%, 30%) 35%,
                    hsl(218, 41%, 20%) 75%,
                    hsl(218, 41%, 19%) 80%,
                    transparent 100%),
                radial-gradient(1250px circle at 100% 100%,
                    hsl(218, 41%, 45%) 15%,
                    hsl(218, 41%, 30%) 35%,
                    hsl(218, 41%, 20%) 75%,
                    hsl(218, 41%, 19%) 80%,
                    transparent 100%);
        }

        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
    </style>

<div class="container px-4 py-5 px-md-5 text-center text-lg-start ">
    <div class="row gx-lg-5 align-items-center ">
        <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" style="z-index: 10">
            <h3 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                Welcome to the Farmer's Marketplace <br />
            </h3>
            <p class="mb-4" style="color: hsl(218, 81%, 95%)">
                Discover a platform designed to connect farmers and consumers directly. Our marketplace enables farmers
                to list their produce with essential details such as price, quantity, and quality, ensuring transparency
                and fair pricing for all.
                <br />
                With this marketplace, consumers can:
            </p>
            <ul style="color: hsl(218, 81%, 95%)">
                <li>Browse locally-sourced, fresh produce from farmers.</li>
                <li>Select items based on their preferences.</li>
                <li>Choose convenient options for delivery or pickup.</li>
            </ul>
            <p class="mt-4" style="color: hsl(218, 81%, 95%)">
                By facilitating direct communication and transactions, we empower farmers to reach broader markets,
                while
                consumers enjoy a more sustainable and efficient way to shop for fresh produce. Join us in promoting
                fair trade, supporting local economies, and minimizing food waste.
            </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative order-lg-1">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

            <div class="card bg-glass">
                <div class="form-group mt-3">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}

                        <div class="alert {{ message.tags }}"> {{ message }}</div>

                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="card-body px-4 py-5 px-md-5">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example3" name="username" class="form-control" />
                            <label class="form-label" for="form3Example3">Username</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form3Example4" name="password" class="form-control" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Login
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
<!-- Section: Design Block -->
{% endblock %}